<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="node_modules/@picocss/pico/css/pico.yellow.min.css">
    <style>
      body {
        text-align: center;
      }
      ul {
        padding: 0;
        display: grid;
        gap: 25px;
        grid-template-columns: repeat(auto-fit, 300px);
        justify-content: center;
        align-items: center;
      }
      ul li {
        list-style: none;
      }
    </style>
</head>
<body>
    <main role="navigation">
        <h1>Simple Server Nav</h1>
        <ul>
            {% for link in links %}
                <li>
                    <article>
                        <a href="{{link.url}}">
                            {% if link.src %}
                                <img src="{{link.src}}" alt="{{link.alt}}">
                            {% endif %}
                            <h2>{{ link.title }}</h2>
                        </a>

                    </article>
                </li>
            {% endfor %}
        </ul>

    </main>

</body>
</html>